@media only screen and (min-width:200px) and (max-width:575px) {

  /* navbar */
  .mob-logo {
    width: 100px;
  }

  /* slider */
  .home-ban.slick-slide img {
    height: 400px;
  }

  .home-ban .slick-slider .slick-prev {
    width: 35px;
  }

  .home-ban .slick-slider .slick-next {
    width: 35px;
  }

  /* homw about us sect */
  .about-features {
    position: relative !important;
    background-color: #fff;
  }

  /* about review */
  .about-rev .slick-dots li button:before {
    width: 20px;
    height: 20px;
    opacity: 1;
    color: #be8553;
    font-size: 10px;
  }

  .about-rev .slick-dots {
    bottom: -55px;
  }

  .about-rev .slick-dots li.slick-active button:before {
    border: 2px solid #be8553;
    border-radius: 50%;
    opacity: 1;
    color: #be8553;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* why us */
  .why-us {
    max-height: 1000px;
    padding-bottom: 100px;
    margin-bottom: 0px;
  }

  /* project overeview */
  .project-overeview .sect-para {
    margin-right: 0px;
  }

  .project-overeview {
    height: 700px;
  }

  /* our testinomial */
  .our-testinomial {
    margin-top: 0px;
    padding-bottom: 30px;
  }

  .our-testinomial .slick-dots {
    right: 0px;
  }

  /*media-event  */
  .media-event .slick-dots {
    bottom: -47px;
  }

  /* about us */
  /* mission */
  .mission{
    height: auto;
  }
  .decade-block::before {
    width: 0px;
  }
  .decade-box{
    width: 0px;
  }
}